<section class="about" id="about">
    <h2 class="heading"><span>Hola</span></h2>
    <div class="about-img">
        <img src="" alt="">
    </div>
    <div class="about-content">
        <h3>Frontend Developer! </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quis ipsam voluptate facere culpa ab assumenda adipisci eveniet asperiores totam illo, molestias rerum facilis velit officia a? Doloribus, eveniet repudiandae.</p>

        <div class="btn-box btns">
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>
</section>
