footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 9%;
    background: black;

}

footer .footer-text {
    font-size: 1.3rem;
}