.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: var(--bg-color);
}

.logo {
    text-decoration: none;
    position: relative;  //Para el redload
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;  //Para el redload
}

.navbar a {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.navbar a:hover, .navbar a.active  {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    background: transparent;
    display: none;
    position: relative;  //Para el redload
}

#menu-icon:active {
    color: var(--main-color);
}

//********************Animacion de Redload************************/

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate {
    animation: showRinght 1s ease forwards;
    -webkit-animation: showRinght 1s ease forwards;
    animation-delay: calc(.3s * var(--i));     //Variable que esta en el Html
}

//*****************BreakPoints**************************//

//Seccion del Menu Hamburguesa | Funcionalidad en el TipeScript
@media (max-width: 768px) {
    
    #menu-icon {
        display: block;
    }   

    /* El left se cambio de 0 a -100% cuando se coloco la clase 'active' junto la transition */
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        -webkit-transition: .25s ease;
        -moz-transition: .25s ease;
        -ms-transition: .25s ease;
        -o-transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar a {
        transform: translateX(-20rem);
        -webkit-transform: translateX(-20rem);
        -moz-transform: translateX(-20rem);
        -ms-transform: translateX(-20rem);
        -o-transform: translateX(-20rem);
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transition-delay: .20s;
    }
}

@media (max-width: 515px) {
    
    #menu-icon {
        display: block;
    }   

    /* El left se cambio de 0 a -100% cuando se coloco la clase 'active' junto la transition */
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        -webkit-transition: .25s ease;
        -moz-transition: .25s ease;
        -ms-transition: .25s ease;
        -o-transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        -webkit-transform: translateX(-20rem);
        -moz-transform: translateX(-20rem);
        -ms-transform: translateX(-20rem);
        -o-transform: translateX(-20rem);
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transition-delay: .20s;
    }
}

//*******************KeyFrames Animation************************//

@keyframes showRinght {
    100% {
        width: 0;
    }
}


