<header class="header">
    <a href="#" class="logo">Alejandro.R.S</a>

    <div class="bx bx-menu" id="menu-icon"></div>

    <nav class="navbar">
        <a routerLink="/home" routerLinkActive="active" class="active">Inicio</a>
        <a routerLink="/about" routerLinkActive="active">Perfil</a>
        <a routerLink="/education" routerLinkActive="active">Educación</a>
        <a routerLink="/skills" routerLinkActive="active">Habilidades</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>
