.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    /* background: url('');
    background-size: cover;
    background-position: center; */
}

.home-content {
    max-width: 60rem;
    z-index: 99;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate {
    position: relative;
    width: 32.5rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);

    //color del texto interno con la animacion para(KeyFrames)
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;

    //Animacion-webkit-background-clip: text;
    background-clip: text;
    background-position: -33rem 0;

    //Al actualizar la pagina regrese al principio delt exto
    animation: homeBgText 5s linear infinite;
    -webkit-animation: homeBgText 5s linear infinite;
    animation-delay: 1s;
}

//Animacion del Cursor del texto con color
.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;

    //Animacion 
    animation: homeCursorText 5s linear infinite;
    -webkit-animation: homeCursorText 5s linear infinite;
    animation-delay: 1s;
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

//Iconos de faces, git, link
.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

//Imagen
.home-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
/*     border: 2px solid red; */
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}

.home-img:hover {
    background: var(--bg-color);
    opacity: .8;
}

//*****************BreakPoints**************************//

@media (max-width: 768px) {
    
    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media (max-width: 520px) {
    
    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 430px) {

    .home-content h1 {
        font-size: 5.2rem;
    }
}

//*******************KeyFrames Animation************************//
@keyframes homeBgText {

    0%, 10%, 100% {
        background-position: -33rem 0;
    } 
    
    65%, 85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%, 10%, 100% {
        width: 0;
    } 
    
    65%, 78%, 85% {
        width: 100%;
        opacity: 1;
    }

    75%, 81% {
        opacity: 0;
    }
}