<section class="projec">
    <h2 class="heading_2">Pro<span>yectos</span></h2>
    <div class="projec-row">

        <!-- Primera Seccion de Proyecto -->
        <div class="projec-column">
            <div class="card">
                <div class="face front">
                    <img src="../../../assets/Photo_Img.png" alt="Proeycto 1">
                    <h3>Ecommerce</h3>
                </div>
                <div class="face back">
                    <h3>Ecommerce</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam facere ut doloribus, dolore quos
                        et
                        dicta ab temporibus repellendus, minima quis commodi libero ex incidunt.</p>
                    <div class="link">
                        <a href="#">Proyecto</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segunda Seccion de Proyecto -->
        <div class="projec-column">
            <div class="card">
                <div class="face front">
                    <img src="../../../assets/Photo_Img.png" alt="Proeycto 1">
                    <h3>API Pokemon</h3>
                </div>
                <div class="face back">
                    <h3>API Pokemon</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam facere ut doloribus, dolore quos
                        et
                        dicta ab temporibus repellendus, minima quis commodi libero ex incidunt.</p>
                    <div class="link">
                        <a href="#">Proyecto</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Terceros Seccion de Proyecto -->
        <div class="projec-column">
            <div class="card">
                <div class="face front">
                    <img src="../../../assets/Photo_Img.png" alt="Proeycto 1">
                    <h3>CRUD</h3>
                </div>
                <div class="face back">
                    <h3>CRUD</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam facere ut doloribus, dolore quos
                        et
                        dicta ab temporibus repellendus, minima quis commodi libero ex incidunt.</p>
                    <div class="link">
                        <a href="#">Proyecto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>