<section class="projec">
    <h2 class="heading_2">Pro<span>yectos</span></h2>
    <div class="projec-row">

        <!-- Primera Seccion de Proyecto -->
        <div class="projec-column">
            <div class="card">
                <div class="face front">
                    <img src="../../../assets/Photo_Img.png" alt="Proeycto 1">
                    <h3>Ecommerce</h3>
                </div>
                <div class="face back">
                    <h3>Ecommerce</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam facere ut doloribus, dolore quos
                        et
                        dicta ab temporibus repellendus, minima quis commodi libero ex incidunt.</p>
                    <div class="link">
                        <a href="#">Proyecto</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segunda Seccion de Proyecto -->
        <div class="projec-column">
            <div class="card">
                <div class="face front">
                    <img src="../../../assets/Rick_and_Morty.png" alt="Proeycto 2">
                    <h3>API Rick & Morty</h3>
                </div>
                <div class="face back">
                    <h2>API Rick & Morty</h2>
                    <p>Desarrollo de una aplicación web que consume la API de Rick y Morty, mostrando personajes, ubicaciones y episodios, con funcionalidades de búsqueda y filtrado para una experiencia interactiva.</p>
                    <div class="link">
                        <a href="https://api-rick-and-morty-rvux.onrender.com" target="_blank">Ver Proyecto</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Terceros Seccion de Proyecto -->
        <div class="projec-column">
            <div class="card">
                <div class="face front">
                    <img src="../../../assets/Photo_Img.png" alt="Proeycto_1">
                    <h3>CRUD</h3>
                </div>
                <div class="face back">
                    <h3>CRUD</h3>
                    <p>Es una aplicación web que permite crear, leer, actualizar, eliminar y buscar datos de una base de datos en tiempo real, utilizando Angular 15 como framework de frontend y Firebase como plataforma de backend y alojamiento, con un despliegue seguro, ademas que se puede descargar la información en un excel para una gestión eficiente de información.</p>
                    <div class="link">
                        <a href="https://crud-tareas-fb995.web.app/listTareas" target="_blank">Ver Proyecto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
