.aboutPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--second-bg-color);
    background-image: url(../../../assets/fondo_personal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.aboutPerfil-contents {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 70px;
}

.perfilTitle {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 5fr;
}

.perfilTitle a {
    position: relative;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    margin-top: 0.7rem;
}

// Seccion de Imagen
.aboutPerfil-contents .aboutPerfil-img {
    position: relative;
    min-width: 30rem;
    height: 35rem;
}

.aboutPerfil-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.aboutPerfil-contents .aboutPerfil-img::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid var(--main-color);
    top: 15px;
    left: 15px;
    z-index: 1;
    background-color: var(--bg-color);
}

.aboutPerfil-info h1 {
    font-size: 3rem;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 0.5rem;
    position: relative;
}

.aboutPerfil-info h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: var(--text-color);
}

.aboutPerfil-info h1::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 4px;
    top: calc(100% - 1px);
    left: 0;
    background-color: var(--text-color);
}

.aboutPerfil-info h3 {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.aboutPerfil-info p {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 0.8rem;
}

.aboutPerfil-idioma {
    border-bottom: 2px solid var(--text-color);
}

.aboutPerfil-idioma span {
    font-size: 2rem;
    color: rgb(0, 221, 255);
}

.aboutPerfil-info .aboutPerfil-personal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    margin-top: 1.4rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--text-color);
}

.aboutPerfil-personal div {
    font-size: 1.6rem;
    font-weight: 600;
}

.aboutPerfil-personal span {
    font-size: 2rem;
    color: cyan;
}

.aboutPerfil-personal .title {
    color: white;
}

// Seccion de habilidades Blandas con barras de progresos
.aboutPerfil-contenedorSkill {
    width: 100%;
    padding: 10px 0;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 1rem;
    margin-top: 1.4rem;
    border-bottom: 2px solid var(--text-color);
}

.linea-progress {
    position: relative;
    border: 1px solid var(--main-color);
    border-radius: 3rem;
    height: 1.7rem;
    margin-top: 2rem;
    background-color: var(--bg-color);
}

.linea-progress div {
    position: absolute;
    width: 0;
    border-radius: 4rem;
    background-color: var(--main-color);
    height: 1.5rem;    
}

/* *** Animacion *** */

#habilidad_1 {
    animation: habilidad_1 2s forwards;
}

@keyframes habilidad_1 {
    100% {
        width: 90%;
    }
}

#habilidad_2 {
    animation: habilidad_2 2s forwards;
}

@keyframes habilidad_2 {
    100% {
        width: 80%;
    }
}

#habilidad_3 {
    animation: habilidad_3 2s forwards;
}

@keyframes habilidad_3 {
    100% {
        width: 80%;
    }
}

#habilidad_4 {
    animation: habilidad_4 2s forwards;
}

@keyframes habilidad_4 {
    100% {
        width: 85%;
    }
}

//*****************BreakPoints**************************//
@media (max-width: 768px) {
    
    .aboutPerfil-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutPerfil-contents .aboutPerfil-img {
        width: 25rem;
        height: 35rem;
    }

    .perfilTitle {
        display: grid;
        grid-template-columns: 1fr 15fr;
    }

}

@media (max-width: 520px) {
    
    .aboutPerfil-contents .aboutPerfil-img {
        width: 15rem;
        height: 35rem;
    }
}

@media (max-width: 430px) {

    .aboutPerfil-contents .aboutPerfil-img {
        width: 8rem;
        height: 35rem;
    }

    .aboutPerfil-info p {
        font-size: 1.8rem;

    }
}
