<section class="aboutPerfil">
    <div class="perfilTitle">
        <a routerLink="../about"><i class='bx bx-arrow-back'></i></a>
        <h2 class="heading">Sobre <span>Mi</span></h2>
    </div>
    

    <div class="aboutPerfil-contents">
        
        <!-- Seccion de la Foto personal -->
        <div class="aboutPerfil-img">
            <img src="../../../assets/Cyberpunk_foto.jpg" alt="foto_perfil">
        </div>

        <!-- Container General -->
        <div class="aboutPerfil-info">
            <h1>Developer Web</h1>
            <h3>Profecional Front-end Web</h3>
            <p>Egresado del SENA, soy un profesional apasionado y comprometido con la convergencia de diseño y tecnología. Mi experiencia como Técnologo en Análisis de Sistemas de Información y Diseñador Gráfico, junto con un año de experiencia en desarrollo Frontend, me han proporcionado una base sólida para abordar proyectos de manera integral. Mi enfoque en el trabajo en equipo, la adaptabilidad y la resolución de problemas me permite enfrentar desafíos con confianza y entregar resultados de alta calidad en cada paso del camino.</p>
            <div class="aboutPerfil-idioma">
                <h3>Idioma: <span>Ingles-B1</span> </h3>
            </div> 

            <!-- Seccion pequeña de idiomas  -->
            <div class="aboutPerfil-personal">
                <div><span><span class="title">Diplomado: </span> Scrum Master</span> </div>
                <div><span><span class="title">Diplomado: </span> Ofimatica Avanzada</span> </div>
                <div><span><span class="title">Diplomado: </span> Software Siigo</span> </div>
                <div><span><span class="title">Diplomado: </span> Ilustración de Personajes</span> </div>
            </div>

            <!-- Seccion de habilidades -->
            <div class="aboutPerfil-contenedorSkill">
                <h1>Mis habilidades Blandas</h1>
    
                <div class="skills">
                    <div class="text-progress">
                        <h3>Trabajo en Equipo</h3>
                    </div>    
                    <div class="linea-progress">
                        <div id="habilidad_1"></div>
                    </div>
                </div>
    
                <div class="skills">
                    <div class="text-progress">
                        <h3>Resilencia</h3>
                    </div>    
                    <div class="linea-progress">
                        <div id="habilidad_2"></div>
                    </div>
                </div>
    
                <div class="skills">
                    <div class="text-progress">
                        <h3>Adaptabilidad</h3>
                    </div>    
                    <div class="linea-progress">
                        <div id="habilidad_3"></div>
                    </div>
                </div>
    
                <div class="skills">
                    <div class="text-progress">
                        <h3>Liderazgo</h3>
                    </div>    
                    <div class="linea-progress">
                        <div id="habilidad_4"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>   

    
</section>
