<section class="aboutPerfil">
    <div class="perfilTitle">
        <a routerLink="../about"><i class='bx bx-arrow-back'></i></a>
        <h2 class="heading">Sobre <span>Mi</span></h2>
    </div>


    <div class="aboutPerfil-contents">

        <!-- Seccion de la Foto personal -->
        <div class="aboutPerfil-img">
            <img src="../../../assets/Cyberpunk_foto.jpg" alt="foto_perfil">
        </div>

        <!-- Container General -->
        <div class="aboutPerfil-info">
            <h1>Full Stack Developer </h1>
            <h3>Profecional en Desarrollo Web</h3>
            <p>Con formación en Análisis de Sistemas de Información y Diseño Gráfico, con 26 meses como desarrollador Full Stack, poseo conocimiento para afrontar proyectos de manera integral. Mi enfoque, es el trabajo en equipo, la adaptabilidad y la resolución de problemas, esto me permite enfrentar desafíos con confianza y entregar resultados de alta calidad.</p>
            <div class="aboutPerfil-idioma">
                <h3>Idioma: <span>Ingles - B1</span> </h3>
            </div>

            <!-- Seccion pequeña de idiomas  -->
            <div class="aboutPerfil-personal">
                <div><span><span class="title">Diplomado: </span> Scrum Master</span> </div>
                <div><span><span class="title">Diplomado: </span> Ofimatica Avanzada</span> </div>
                <div><span><span class="title">Diplomado: </span> Full Stack Developer</span> </div>
                <div><span><span class="title">Diplomado: </span> Lógica Programación</span> </div>
            </div>

            <!-- Seccion de habilidades -->
            <div class="aboutPerfil-contenedorSkill">
                <h1>Mis habilidades Blandas</h1>

                <div class="skills">
                    <div class="text-progress">
                        <h3>Trabajo en Equipo</h3>
                    </div>
                    <div class="linea-progress">
                        <div id="habilidad_1"></div>
                    </div>
                </div>

                <div class="skills">
                    <div class="text-progress">
                        <h3>Responsabilidad</h3>
                    </div>
                    <div class="linea-progress">
                        <div id="habilidad_2"></div>
                    </div>
                </div>

                <div class="skills">
                    <div class="text-progress">
                        <h3>Adaptabilidad</h3>
                    </div>
                    <div class="linea-progress">
                        <div id="habilidad_3"></div>
                    </div>
                </div>

                <div class="skills">
                    <div class="text-progress">
                        <h3>Liderazgo</h3>
                    </div>
                    <div class="linea-progress">
                        <div id="habilidad_4"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>
