.skills {
    padding-bottom: 7rem;
    background-color: var(--second-bg-color);
    background-image: url(../../../assets/fondo_habilidades.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    padding: .5rem 1.5rem;  
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000815;
    z-index: -1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    background: var(--main-color);
}

//Contenido de las barras de progreso Programas
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 0;
    animation: html 2s forwards;
}

@keyframes html {
    100% {
        width: 90%;
    }
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 0;
    animation: css 2s forwards;
}

@keyframes css {
    100% {
        width: 80%;
    }
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 0;
    animation: python 2s forwards;
}

@keyframes python {
    100% {
        width: 40%;
    }
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 0;
    animation: angular 2s forwards;
}

@keyframes angular {
    100% {
        width: 75%;
    }
}


//Contenido de las barras de progreso Habilidades
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 0;
    animation: frontend 2s forwards;
}

@keyframes frontend {
    100% {
        width: 85%;
    }
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 0;
    animation: backend 2s forwards;
}

@keyframes backend {
    100% {
        width: 45%;
    }
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 0;
    animation: diseno 2s forwards;
}

@keyframes diseno {
    100% {
        width: 75%;
    }
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 0;
    animation: dataBases 2s forwards;
}

@keyframes dataBases {
    100% {
        width: 45%;
    }
}

