<section class="skills">
    <h2 class="heading">Mis <span>Habilidades</span></h2>
    <div class="skills-row">

        <!-- Priemra Sección -->
        <div class="skills-column">
            <h3 class="title">Habilidades en codigo </h3>

            <div class="skills-box">
                <div class="skills-content">
                    <div class="progress">
                        <h3>HTML <span>Avanzado</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>CSS / SASS <span>Medio</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Python<span>Medio</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Angular / Ionic <span>Medio / Avanzado</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>PHP <span>Basico</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>React <span>Basico</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>MySQL <span>Medio</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>MongoDB <span>Basico</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segunda Sección -->
        <div class="skills-column">
            <h3 class="title">Profesional Habilidades </h3>

            <div class="skills-box">
                <div class="skills-content">
                    <div class="progress">
                        <h3>Web Frontend <span>2 Años</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Web Backend <span>1.6 Años</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Diseño Grafico <span>5 Años</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Bases Datos <span>1 Año</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
