<section class="skills">
    <h2 class="heading">Mis <span>Habilidades</span></h2>
    <div class="skills-row">

        <!-- Priemra Sección -->
        <div class="skills-column">
            <h3 class="title">Habilidades en codigo </h3>

            <div class="skills-box">
                <div class="skills-content">
                    <div class="progress">
                        <h3>HTML <span>90%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>CSS <span>70%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Python <span>40%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Angular <span>50%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segunda Sección -->
        <div class="skills-column">
            <h3 class="title">Profesional Habilidades </h3>

            <div class="skills-box">
                <div class="skills-content">
                    <div class="progress">
                        <h3>Web Diseño <span>95%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Web Desarrollo <span>80%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Diseño Grafico <span>75%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>SEO Marketing <span>45%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
